@font-face {
    font-family: 'Arial';
    font-style: normal;
    font-weight: normal;
    src: url('/l10n_ch/static/src/font/Arial.ttf');
}

body.l10n_ch_qr {
    padding: 0;

    #wrapwrap {
        width: 210mm;
        height: 297mm;
    }

    /* Disable custom bakground */
    .o_report_layout_background {
        background: none;
        min-height: 0;
    }

    .swissqr_title {
        position: absolute;
        padding: 15px;
        padding-top: 150px;
    }

    .swissqr_content {
        position: relative;
    }

    .swissqr_receipt {
        position: absolute;
        border-color: black black white white;
        border-width: 0.7pt 0.7pt 0.7pt 0.7pt;
        border-style: solid;
        height: 105mm;
        width: 62mm;
        top: 192mm;
        left: 0mm;
        padding: 5mm;

        span {
            font-family: Arial, Frutiger, Helvetica !important;
        }

        .swissqr_text {
            padding-bottom: 9pt;

            .title {
                font-size: 6pt;
                line-height: 9pt;
            }

            .content {
                font-size: 8pt;
                line-height: 9pt;
            }
        }

        .receipt_amount_zone {

            .title,
            .content {
                line-height: 11pt !important;
            }
        }
    }

    .swissqr_body {
        position: absolute;
        border-color: black white white white;
        border-width: 0.7pt 0.7pt 0.7pt 0.7pt;
        border-style: solid;
        height: 105mm;
        width: 148mm;
        top: 192mm;
        left: 62.0mm;
        padding: 5mm;

        span {
            font-family: Arial, Frutiger, Helvetica !important;
        }

        .indication_zone {
            .swissqr_text {
                padding-bottom: 11pt;

                .title {
                    font-size: 8pt;
                    line-height: 11pt;
                }

                .content {
                    font-size: 10pt;
                    line-height: 11pt;
                }
            }
        }

        .amount_zone {
            .title {
                font-size: 8pt;
                line-height: 11pt;
            }

            .content {
                font-size: 10pt;
                line-height: 13pt;
            }
        }
    }

    .swissqr {
        position: absolute;
        height: 46mm;
        width: 46mm;
        top: 17mm;
        left: 5mm;
    }

    .ch_cross {
        position: absolute;
        background-color: white;
        height: 7mm;
        width: 7mm;
        top: 36.5mm;
        /* (17 + 23 - 7/2) */
        left: 24.5mm;
        /* (5 + 23 - 7/2) */
    }

    .swissqr_text {
        font-family: Arial, Frutiger, Helvetica;
        color: black;
        line-height: 1;

        .title {
            font-size: 8pt;
            font-weight: bold;
            margin-top: 2mm;
        }

        .content {
            font-size: 10pt;
        }

    }

    .main_title {
        display: table-cell;
        vertical-align: top;
        height: 7mm;
        font-size: 11pt;
        font-weight: bold;
    }

    .procedure_zone {
        top: 15mm;
    }

    .receipt_indication_zone {
        height: 56mm;
        width: 52.0mm;
    }

    .indication_zone {
        position: absolute;
        top: 5mm;
        left: 56mm;
        height: 85mm;
        width: 87.0mm;
    }

    .receipt_amount_zone {
        position: absolute;
        top: 68mm;
        height: 14mm;
        width: 52.0mm;

        .column {
            margin-right: 5mm;
            float: left;
        }
    }

    .receipt_acceptance_point_zone {
        position: absolute;
        top: 82mm;
        height: 18mm;
        width: 52.0mm;

        .title {
            line-height: 8pt !important;
        }

        .content {
            float: right;
            padding-right: 1em;
        }

    }

    .amount_zone {
        position: absolute;
        top: 68mm;
        width: 51mm;
        height: 22mm;

        .column {
            margin-right: 5mm;
            float: left;
        }
    }

}